<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="icon" href="/assets/favicon.png" type="image/png">
    <title>GEEK NOTES</title>
</head>
<body>
    <canvas id="matrix"></canvas>

    <div class="chat-container">
        <div class="chat-box">
            <div class="messages" id="messages"></div>

            <input class="chat" id="chatInput" type="text" placeholder="Enter your message">
        </div>
    </div>

    <script src="/assets/js/matrix.js"></script>
    <script src="/assets/js/chat.js"></script>
</body>
</html>